# Byte-code files
*.pyc
__pycache__/

# Virtual environment
.venv/
env/
venv/
ENV/
env.bak/
venv.bak/
/.env

# Database


# IDE - PyCharm
.idea/

# Django specific
*.log
local_settings.py  # If you use a separate file for local settings
media/             # User-uploaded files (if you have a media directory)
static_cdn/        # Collected static files (if you use collectstatic)
staticfiles/       # Collected static files (another common name)

# Operating System files
.DS_Store
Thumbs.db
