<nav class="nav flex-column">
    <a class="nav-link active" href="{% url 'catalog:home' %}">
        <span class="material-symbols-outlined me-2">home</span>
        Главная
    </a>
    <a class="nav-link" href="#">
         <span class="material-symbols-outlined me-2">category</span>
        Категории
    </a>
    <a class="nav-link" href="#">
        <span class="material-symbols-outlined me-2">list_alt</span>
        Заказы
    </a>
    <a class="nav-link" href="{% url 'catalog:contacts' %}">
        <span class="material-symbols-outlined me-2">contact_mail</span>
        Контакты
    </a>
</nav>